<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;maconha&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-horizontal-layout>
    <vaadin-label width="205px" plain-text>
      Number of indexed files: 
    </vaadin-label>
    <vaadin-label plain-text _id="numberOfIndexedFiles">
      0 
    </vaadin-label>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout>
    <vaadin-label width="205px" plain-text>
      Number of duplicate files: 
    </vaadin-label>
    <vaadin-label plain-text _id="numberOfDuplicteFiles">
      0 
    </vaadin-label>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout>
    <vaadin-label width="205px" plain-text>
      Number of found keywords: 
    </vaadin-label>
    <vaadin-label plain-text _id="numberOfFoundKeywords">
      0 
    </vaadin-label>
   </vaadin-horizontal-layout>
   <vaadin-grid caption="Top 10 Keywords" enabled="false" width="366px" data-item-type="de.weltraumschaf.maconha.backend.model.KeywordAndNumberOfMediaFiles" _id="topTenKeywords">
    <table>
     <colgroup>
      <col column-id="literal" sortable>
      <col column-id="numberOfMediaFiles" sortable>
     </colgroup>
     <thead>
      <tr default>
       <th plain-text column-ids="literal">Literal</th>
       <th plain-text column-ids="numberOfMediaFiles">NumberOfMediaFiles</th>
      </tr>
     </thead>
     <tbody></tbody>
    </table>
   </vaadin-grid>
  </vaadin-vertical-layout>
 </body>
</html>